@font-face {
  font-family: "Libertinus Sans";
  src: url("assets/fonts/LibertinusSans-Regular.otf");
}

@font-face {
  font-family: "Libertinus Sans";
  font-weight: bold;
  src: url("assets/fonts/LibertinusSans-Bold.otf");
}

html {
  font-kerning: normal;
  font-family: "Libertinus Sans", sans-serif;
  font-variant-numeric: proportional-nums oldstyle-nums;
  font-size: 16px;
  line-height: 1.25rem;

  background-color: oklch(calc(1 - 1 / 32) calc(1 / 128) calc(1 / 6 * 1turn));
  color: oklch(calc(1 / 4) 0 0);

  display: grid;
  justify-content: center;
}

body {
  max-width: 36rem;
  margin-block: 1rlh;
  margin-inline: 1rem;
}

h1 {
  line-height: 1.5rlh;
  font-size: 2rem;
}

h1 small {
  font-size: 1rem;
  line-height: 1em;
  vertical-align: middle;
}

address {
  margin-block-end: 0.5rlh;
}

h2 {
  margin-block: 0.75rlh 0.25rlh;
  font-weight: bold;
}

li + li {
  margin-block-start: 0.5rlh;
}

li > :not(cite) {
  padding-inline-start: 1rem;
}

.sc,
abbr:not(.no-sc),
h2 {
  font-variant-caps: all-small-caps;
  letter-spacing: calc(1 / 16 * 1em);
}

a {
  color: oklch(calc(7 / 16) calc(1 / 8) calc(5 / 6 * 1turn));
}

img.icon {
  height: 0.75rem;
  width: 0.75rem;
  vertical-align: middle;
}

:focus-visible {
  outline: revert;
}

@media screen and (width >= calc((36 + 2) * 24px)) {
  html {
    font-size: 24px;
  }
}
